<div class="add-post">

    <div class="admin-title">
        <a href="/dashboard">&larr; Back</a>
        <h2>Add Blog</h2>
    </div>

    <div class="add-post-form">
        <form action="/add-post" method="post">
            <label for="title"><b>Title</b></label>
            <input type="text" name="title" id="title" placeholder="Add title">

            <label for="body"><b>Body</b></label>
            <textarea name="body" id="" cols="30" rows="10" placeholder="Write the body"></textarea>

            <input type="submit" value="Add" class="btn">
        </form>
    </div>
</div>


