<h3 style="text-align: center;">Sign In</h3>

<div class="login">
  <form action="/admin" method="POST">

    <div class="username">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" />
    </div>

    <div class="password">
        <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" />

    </div>

    <input type="submit" value="Login" class="btn" id="login-submit" />

  </form>
</div>

<!--

<h3 style="text-align: center;">Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn" id="login-submit">

</form> 

-->
