<div class="searchBar">
  <div class="container">
    <form action="/search" method="post" role="search" class="search__form">
      <input
        type="text"
        name="searchTerm"
        id="searchInput"
        aria-label="Search"
        placeholder="< Press ENTER To Search />"
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
