<div class="contact-body">

    <div class="contact-header">
        <h1 style="text-align: center;">Contact me</h1>
    </div>

    <div class="contact-body">
        <form action="/contact-mail" method="post">

            <label for="Name">Name</label>
            <input type="text" name="name" id="" placeholder="<Enter your name/>">

            <label for="Name">Email id</label>
            <input type="email" name="email_id" id="" placeholder="<Enter your email id/>">

            <label for="Name">Messsage</label>
            <textarea name="body" id="" cols="30" rows="10" placeholder="Enter Message"></textarea>

            <input type="submit" value="Send" class="btn" id="login-submit" />
        </form>
    </div>
</div>