<div class="author">

    <h1 class="author__heading">Hi, I am Shashwath</h1>
    <p class="author__body">Student and Web Developer</p>

</div>

<img src="/img/hero-img.jpeg" alt="lofi-tech-main-img" class="hero_img">

<section class="articles">
    <h2 class="article__heading">Latest Articles</h2>

    <ul class="article__ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; View Older Posts</a>
</section>